{{#each articles}}
<div class="story-body" id={{this._id}}>
    <h2>
        <a href="{{this.link}}" target="_blank">{{this.title}}</a>
        <form action="/save/{{this._id}}" method="POST">
            <input type="text" class="status" value="{{this.status}}">{{this.status}}</input>
            <button type="button" class="addnote-button" value="{{this._id}}">Add A Note</button>
        </form>
    </h2>
    <summary>{{this.summary}}</summary>
    <img class="media" src="{{this.img}}">
</div>
{{/each}}